<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="/stylesheets/c3.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/d3.min.js" charset="utf-8"></script>
    <script src="/javascripts/c3.min.js"></script>
</head>
<body>
<form class="form-horizontal" method="post">
    <fieldset>
        <legend>查詢 log</legend>

        <div class="control-group">
            <label class="control-label" for="logid">_id</label>
            <div class="controls">
            <input type="text"  class="input-medium search-query" id="logid" name="logid" value="">
            </div>
            <p></p>

            <label class="control-label" for="matchdate">時間區間</label>
            <div class="controls">
                <!--disabled="disabled"-->
                <input type="text" class="input-small" id="matchdate" name="matchdate" value=""> -
                <input type="text" class="input-small" id="matchenddate" name="matchenddate" value="">　
                </br>
                ex:2014-03-25 or 2013-03-25 18:00:00
            </div>
            <p></p>

            <label class="control-label" for="identifer">identifier</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="identifer" name="identifer" value="">　　ex:%PIX-6-302005
            </div>
            <p></p>

            <label class="control-label" for="matchmsg">Message</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="matchmsg" name="matchmsg" value="">　　ex:192.168.0.1
            </div>
            <p></p>

            * 一次僅會搜尋一個條件，由上面的欄位開始。
            <p></p>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">search</button>
        </div>
    </fieldset>
</form>
<!--這一段是存在的-->
<!--<% if (locals.messages) { %>-->
<!--<% messages.forEach(function(message) { %>-->
<!--<p class='<%= message.type %>'><%= message.string %></p>-->
<!--<% }) %>-->
<!--<% removeMessages() %>-->
<!--<% } %>-->

<p></p>

<% if (resp) { %>
<h3>搜尋結果</h3><br/>
<% if (resp.length == 0) { %>
<h4>查無資料!</h4>
<% } else{ %>

<table class="table">
    <caption></caption>
    <thead>
    <tr>
    <tr>
        <th>Timestamp</th>
        <th>Identifier</th>
        <th>Message</th>
        <th>_id</th>
    </tr>
    </thead>
    <tbody>
    <% resp.forEach( function(body){ %>
    <tr>
        <!--<td><%= body.level %></td>-->
        <% if(body.timestamp) {
        if(body.timestamp.toString().length > 12){ %>
        <td><%= body.timestamp.toLocaleString() %></td>
        <% } else { %>
        <td><%= body.timestamp.toLocaleString() %></td>
        <% } } %>
        <td><%= body.identifier %></td>
        <td><%= body.message %></td>
        <td><%= body._id %></td>
    </tr>
    <% }); %>
    </tbody>
</table>
<% } %>
<% } else { %>
<h3>總量 : <%= totalcount %>筆資料</h3>
<% } %>

</body>
</html>